@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-branca: #FFFFFF;
    --cor-branca-suave: #e1e8f8;
    --cor-do-titulo: #1f2937;
    --cor-do-texto: #344350;
    --cor-azul: #2563EB;
    --cor-azul-hover: #2456c2;
    --cor-borda: #b8b8b8;
    --cor-borda-hover: #7e7e7e;
}

body {
    font-family: "Inter", serif;
    background-color: var(--cor-branca);
    font-size: 1em;
}

a {
    text-decoration: none;
    transition: .2s ease;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.HeroForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0 70px;
    position: relative;
    color: var(--cor-do-texto);
    position: relative;
    overflow: hidden;
    padding-top: 50px;

    &::after {
        position: absolute;
        content: '';
        width: 500px;
        height: 500px;
        border-radius: 100%;
        background-color: #d5e3fd;
        top: 0;
        right: 0;
        z-index:-1;
        transform: translateY(-50%) translateX(50%);
        box-shadow: 0 0 100px 300px #d5e3fd;
    }
}

.HeroForm .Bloco:nth-child(1) {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.HeroForm .Bloco:nth-child(1) .NinIntro {
    color: var(--cor-azul);
    font-size: .9em;
}

.HeroForm .Bloco:nth-child(1) .Titulo p {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2;
    color: var(--cor-do-titulo);
}

.HeroForm .Bloco:nth-child(1) .Testemunha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    position: relative;
    margin-top: 30px;
    z-index: 1;
}

.HeroForm .Bloco:nth-child(1) .Testemunha .Icon {
    position: absolute;
    z-index: -1;
    transform: translateY(-30px) translateX(-20px);
    font-size: 2.5em;
    opacity: .1;
}

.HeroForm .Bloco:nth-child(1) .Testemunha .Msg p {
    font-size: 1.1em;
    font-style: italic;
    line-height: 1.6;
}

.HeroForm .Bloco:nth-child(1) .Testemunha .Autor {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.HeroForm .Bloco:nth-child(1) .Testemunha .Autor .Nome {
    font-weight: bold;
    color: var(--cor-do-titulo);
    margin-bottom: 5px;
}

.HeroForm .Bloco:nth-child(1) .Testemunha .Autor .Cargo {
    font-size: .9em;
}

.HeroForm .Bloco:nth-child(1) .Testemunha img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.HeroForm .Bloco {
    width: 100%;
    max-width: 500px;
}

.HeroForm .Bloco form {
    width: 100%;
    background-color: var(--cor-branca);
    box-shadow: 0 0 20px 0 #0000002d;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.HeroForm .Bloco form .Titulo {
    text-align: center;
    font-size: 1.3em;
    color: var(--cor-do-titulo);
    font-weight: 700;
}

.HeroForm .Bloco form .Texto p {
    text-align: center;
}

.HeroForm .Bloco form .Texto p a {
    color: var(--cor-azul);

    &:hover {
        text-decoration: underline;
    }
}

.HeroForm .Bloco form .Google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--cor-borda);
    height: 45px;
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--cor-branca);
    transition: .2s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--cor-branca-suave);
    }
}

.HeroForm .Bloco form .Google .Icon {
    display: flex;
    font-size: 1.4em;
}

.HeroForm .Bloco form .Ou {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--cor-borda);
        z-index: -1;
    }
}

.HeroForm .Bloco form .Ou p {
    background-color: var(--cor-branca);
    padding: 0 20px;
}

.HeroForm .Bloco form .InputBox {
    width: 100%;
    display: flex;
    gap: 10px;
}

.HeroForm .Bloco form .InputBox input {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-borda);
    outline: 0;
    transition: .2s ease;
    font-size: 1em;

    &:focus {
        border: 1px solid var(--cor-azul);
    }
}

.HeroForm .Bloco form .Textleft {
    display: flex;
    justify-content: left;
    align-items: center;
}

.HeroForm .Bloco form .Textleft label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.HeroForm .Bloco form .Textleft label input {
    width: 15px;
    height: 15px;
}

.HeroForm .Bloco form .Btn {
    width: 100%;
}

.HeroForm .Bloco form .Btn button {
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0;
    background-color: var(--cor-azul);
    border-radius: 5px;
    color: var(--cor-branca);
    font-size: 1em;
    transition: .2s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--cor-azul-hover);
    }
}